<main class="home-page">

  <!-- Actual homepage -->
  <div class="home-content">
    <app-hero-section></app-hero-section>

    <app-how-it-works
      appAnimateOnScroll>
    </app-how-it-works>

    <app-service-section
      appAnimateOnScroll
      class="fade-left">
    </app-service-section>

    <app-pricing-packages
      appAnimateOnScroll
      class="zoom-in">
    </app-pricing-packages>

    <app-testimonials
      appAnimateOnScroll>
    </app-testimonials>

    <app-footer></app-footer>
  </div>


  <!-- Skeleton -->
  @if (pageLoading$ | async) {
    <div class="skeleton-overlay">
      <app-home-page-skeleton></app-home-page-skeleton>
    </div>
  }

</main>